#!/usr/bin/env bash
# shellcheck disable=SC1091
source "$HOME/dev/binx/profile/sane_fn.sh"

############### VENV ###############
# Emulate the pipenvs's activate, because we can't source things in direnv
layout_pipenv
#dotenv

############### Exports ###############
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR
Green "-M- exporting PROJ_DIR: $PROJ_DIR"

if which tmux > /dev/null 2>&1; then
    tmux rename-window "$(basename "$PROJ_DIR")"
fi

export senv="source $PROJ_DIR/scripts/env.sh"
export PYTHONPATH=$PROJ_DIR
#export TW_FZF_ROOT="$HOME/dev"
export PIPENV_VENV_IN_PROJECT=1  # creates .venv

#export DB_HOST=localhost
#export DB_PORT=5432
#export DB_NAME=postgres
#export DB_USER=postgres
#export DB_PASSWORD=postgres
#export DB_SSL=false
#export DB_SSL_MODE=require  # default: prefer, allow, disable
#export DB_URL="postgres://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=$DB_SSL_MODE"

PATH_add "$PROJ_DIR/scripts"
